<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>XXXX-后台管理系统-商品属性</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__STATIC__/static/css/font.css">
    <link rel="stylesheet" href="__STATIC__/static/css/weadmin.css">
    <link rel="stylesheet" href="__STATIC__/static/css/bootstrap.min.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>

<body>
    <div class="weadmin-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">商品管理</a>
            <a>
                <cite>商品属性</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">&#x1002;</i>
        </a>
    </div>
    <!-- <div id="testText">
        zheli是文字
    </div> -->
    <div class="weadmin-body">
        <div class="layui-row">
            <form class="layui-form layui-col-md12 we-search" action="{:url('admin/product/product_attribute')}" method="post">
                商品属性搜索：
                <div class="layui-inline">
                    <input type="text" name="attribute" placeholder="请输入商品属性名称" autocomplete="off" class="layui-input">
                </div>
                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon">&#xe615;</i>
                </button>
            </form>
        </div>
        <div class="weadmin-block">
            <a class="layui-btn" href="{:url('admin/product/product_attribute_add')}">
                <i class="layui-icon"></i>添加</a>
            <span class="fr" style="line-height:40px">共有数据：{$count}条</span>
        </div>
        <table class="layui-table" id="memberList">
            <thead>
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
                            <i class="layui-icon">&#xe605;</i>
                        </div>
                    </th>
                    <th>商品属性ID</th>
                    <th>商品属性名称</th>
                    <th>商品所属模型</th>
                    <th>属性值的输入方式</th>
                    <th>录入方式</th>
                    <th>可选列表</th>
                    
                    <th>排序</th>
                    <th>检索</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {foreach name="attr" item="v"}
                <tr data-id="1">
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="1">
                            <i class="layui-icon">&#xe605;</i>
                        </div>
                    </td>
                    <td>{$v['attr_id']}</td>
                    <td>{$v['attr_name']}</td>
                     {foreach name="type" item="vol"}
                    {if condition="$vol['id']==$v['type_id']"}
                    <td>{$vol['name']}</td>
                    {/if}
                    {/foreach}
                    <td>{$v['attr_values']}</td>
                    <td>{$v['luru']}</td>
                    <td>{$v['indx']}</td>
                    <td>{$v['sort']}</td>
                    <td class="td-manage">
                        <a title="编辑"  href="{:url('admin/product/product_attribute_edit')}?id={$v['attr_id']}">
                            <i class="layui-icon">&#xe642;</i>编辑
                        </a>
                        <a title="删除"  href="{:url('admin/product/product_attribute_del')}?id={$v['attr_id']}">
                            <i class="layui-icon">&#xe640;</i>删除
                        </a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        <div class="page">
            <div>
                <a class="prev" href="">&lt;&lt;</a>
                <a class="num" href="">1</a>
                <span class="current">2</span>
                <a class="num" href="">3</a>
                <a class="num" href="">...</a>
                <a class="next" href="">&gt;&gt;</a>
            </div>
        </div>
       <!--  31.21603750     ["ktghgl"]=> string(1) "3"-->
    </div>
    {$attr->render()}
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script src="__STATIC__/static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>